@import "tailwindcss";

/* Reset any default browser scrollbar behavior */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbars globally but keep functionality */
::-webkit-scrollbar {
  display: none;
}

